<div class="customerCard">
    <span class="customerCard__quote">
        <i class="fas fa-quote-left"></i>
    </span>
    <p class="customerCard__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
        excepturi optio culpa dignissimos vel ipsa placeat iure nulla! Qui
        dignissimos nulla iste corrupti sequi quas rem officia laborum excepturi
        consectetur.
    </p>
    <span class="customerCard__stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </span>
    <div class="customerCard__img customerCard__img--JaneLee "></div>
    <h3 class="customerCard__name">Jane Lee</h3>
</div>