<div class="teamCard">
  <div class="teamCard__img teamCard__img--NickSmith"></div>
  <h3 class="teamCard__name">
    nick smith <span class="teamCard__job">(designer)</span>
  </h3>
  <ul class="teamCard__skills">
    <li>Ps</li>
    <li>Figma</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>AI</li>
  </ul>
  <button class="teamCard__projectsBtn">Projects</button>
  <div class="teamCard__aboutMeText">
    <h3 class="aboutMeText__heading">About Me</h3>
    <p class="aboutMeText__text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel dolor animi
      laborum cumque quae corporis facere, fuga, quia, labore praesentium
      numquam eum fugiat! Ut cumque modi iste, asperiores aliquid debitis.
      Maxime animi quas obcaecati excepturi consequuntur aperiam ipsum, beatae
      error ducimus facilis esse ex fuga suscipit qui hic inventore corrupti.
    </p>
  </div>
  <button class="teamCard__aboutMeBtn"></button>
</div>
